<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./index.js" defer></script>
    <link rel="stylesheet" href="./styles.css">
</head>
<body v-cloak>
    <div id="header">
        <div id="me">
            <img :src="data.pfp" alt="">
            <h2><a href="#intro">Nawab-AS</a></h2>
        </div>

        <div id="navbar">
            <a href="#about">About Me</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </div>


    <section id="intro">
        <div>
            <h1>Hi there,</h1>
            <h1>I'm Hamid Syed</h1>
            <h3>(also known as <a :href="'https://github.com/' + data.contact.github">Nawab-AS</a>)</h3>
            <p>{{ data.tagline }}</p>
        </div>

        <div>
            <p id="pfpArt">{{ pfpArt }}</p>
        </div>
    </section>

    <section id="about">
        <h1>About Me</h1>
        <p>
            I'm a grade 12 IB student from Ontario, Canada with a passion for programming.
            I love creating full-stack websites that solve <span>my</span> real-world problems and help people.
            As of now, exploring more fields in computer science such as cybersecurity and embedded systems.
            I am proficient in multiple languages such as JavaScript (full-stack), Python, HTML, and CSS, Rust(learning).
        </p>
    </section>

    <section id="projects">
        <h1>Projects</h1>
        <ul>
            <li v-for="project in data.projects" :key="project.id">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <img :src="project.image" alt="">
                <div class="project-links">
                    <a :href="project.link" class="project-btn" target="_blank">Demo</a>
                    <a :href="project.github" class="project-btn" target="_blank">GitHub</a>
                    <span v-if="project.WIP" class="badge-wip">Work in progress</span>
                </div>
            </li>
        </ul>
    </section>

    <section id="contact" style="height: min-content;">
        <h1>Contact</h1>
        <p>Email: <a :href="'mailto:' + data.contact.email">{{ data.contact.email }}</a></p>
        <p>Github: <a :href="'https://github.com/' + data.contact.github">{{ data.contact.github }}</a></p>
    </section>
</body>
</html>